In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/dlabdata1/lugeon/websites_alexa_100_17cat.gz", header=0)

In [3]:
df

      Unnamed: 0                                 url   cat0
0           1447            http://dragginladies.com  Adult
1           2574       http://kiev-escort-models.com  Adult
2           3381          http://labiastretching.com  Adult
3           3276              http://swingers.com.au  Adult
4           3580             http://eartherotics.com  Adult
...          ...                                 ...    ...
1695      808676                      http://snyd.dk  World
1696      944874           http://hamburger-umzug.de  World
1697      927449                       http://gbd.at  World
1698      810117  http://vejlestthomas.apotekeren.dk  World
1699      938636              http://erfolgswelle.ch  World

[1700 rows x 3 columns]