In [6]:
import numpy as np
import pandas as pd

In [7]:
#folder = '/dlabdata1/lugeon/'
folder = '../data/'
name = 'websites'
ext = '.gz'
data = pd.read_csv(folder + name + ext, header=None, names=['id', 'url', 'cat0'])

In [8]:
data = data[['url', 'cat0']]

In [9]:
data.head()

                                                 url   cat0
0                   http://www.liquidgeneration.com/  Adult
1                        http://www.onlineanime.org/  Adult
2  http://www.ceres.dti.ne.jp/~nekoi/senno/senfir...  Adult
3                         http://www.galeon.com/kmh/  Adult
4                        http://www.fanworkrecs.com/  Adult

In [10]:
data.shape[0] # number of entries, 1'562'978

1562978

In [12]:
data.cat0.nunique() # number of categories

15

In [14]:
data.cat0.value_counts() # number of samples in each categories

Arts          253840
Society       243943
Business      240177
Computers     117962
Science       110286
Recreation    106586
Sports        101328
Shopping       95270
Health         60097
Reference      58247
Games          56477
Kids           46182
Adult          35325
Home           28269
News            8989
Name: cat0, dtype: int64

In [15]:
cats = ['Arts', 'Computers', 'Sports', 'Kids', 'Science']
cat_size = 40_000

red_id = np.array([])

for cat in cats:
    sub_id = data[data.cat0==cat].index.values
    red_id = np.append(red_id, np.random.choice(sub_id, replace=False, size=cat_size))

In [16]:
red_data = data.iloc[red_id.tolist()]

In [17]:
red_data

                                                       url     cat0
56716                  http://tigerpunch.comicgenesis.com/     Arts
105651         http://www.angelfire.com/movies/aithemovie/     Arts
64775             http://www.rushworth.com/green/index.htm     Arts
202080   http://www.geocities.com/greathighpriest/36thc...     Arts
168419                        http://www.zoostation.co.uk/     Arts
...                                                    ...      ...
1110368                        http://www.marketekinc.com/  Science
1055591                   http://www.users.on.net/~vision/  Science
1070832                          http://labautomation.org/  Science
1053127  http://www5.amershambiosciences.com/aptrix/upp...  Science
1084343              http://www.intuitor.com/moviephysics/  Science

[200000 rows x 2 columns]

In [19]:
red_data.cat0.value_counts()

Kids         40000
Sports       40000
Arts         40000
Computers    40000
Science      40000
Name: cat0, dtype: int64

In [20]:
red_data.to_csv((folder + name + '_{}_{}cat.gz').format(cat_size, len(cats)), compression='gzip')