In [1]:
import numpy as np
import pandas as pd

In [19]:
folder = '/dlabdata1/lugeon/'
#folder = '../data/'
name = 'websites_dmoz_multi'
ext = '.gz'
data = pd.read_csv(folder + name + ext, header=0, index_col=0)

/dlabdata1/lugeon/lugeon-env/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [20]:
data.head()

    uid                     url     lang lang_id       cat0
0   184    www.delphipraxis.net  Deutsch      de  Computers
1   263       www.central-it.de  Deutsch      de  Computers
2   731      www.aus-wandern.de  Deutsch      de  Computers
3  1072  blog.cvjm-nuernberg.de  Deutsch      de  Computers
4  1101     www.ges-training.de  Deutsch      de  Computers

In [22]:
data.shape[0] # number of entries, 1'562'978

1025181

In [23]:
data.cat0.nunique() # number of categories

13

In [24]:
data.cat0.value_counts() # number of samples in each categories

Business      276665
Society       131314
Arts          127260
Recreation     83227
Shopping       80835
Computers      74104
Sports         66163
Health         57455
Science        46043
Reference      38666
Games          20905
Home           13928
News            8616
Name: cat0, dtype: int64

In [25]:
data.cat0.unique()

array(['Computers', 'Business', 'Society', 'Arts', 'Health', 'Science',
       'Reference', 'Recreation', 'Shopping', 'Sports', 'Games', 'News',
       'Home'], dtype=object)

In [27]:
#cats = ['Arts', 'Computers', 'Sports', 'Health', 'Science']
cats = data.cat0.unique()
lang = data.lang_id.unique()
cat_size = 10

red_id = np.array([])

for cat in cats:
    for l in lang:
        sub_id = data[(data.cat0==cat) & (data.lang_id==l)].index.values
        if sub_id.shape[0] >= cat_size:
            red_id = np.append(red_id, np.random.choice(sub_id, replace=False, size=cat_size))

In [28]:
red_data = data.iloc[red_id.tolist()]

In [29]:
red_data

            uid                           url     lang lang_id       cat0
7536    1526416                www.pr-link.at  Deutsch      de  Computers
4322     886287            www.greenbanana.ch  Deutsch      de  Computers
7052    1412550                  www.papoo.de  Deutsch      de  Computers
10051   2056057          strangeviews.blog.de  Deutsch      de  Computers
2764     591580           www.mareladesign.de  Deutsch      de  Computers
...         ...                           ...      ...     ...        ...
474096    89969  www.christian-homemaking.com  English      en       Home
524055   307877   www.thecircuitdetective.com  English      en       Home
740883  1257218                 highstead.net  English      en       Home
832839  1650875                 www.cheer.com  English      en       Home
767876  1371165             www.deazevedo.com  English      en       Home

[1290 rows x 5 columns]

In [30]:
red_data.cat0.value_counts()

Computers     100
News          100
Shopping      100
Society       100
Health        100
Reference     100
Arts          100
Games         100
Home          100
Business      100
Science       100
Sports        100
Recreation     90
Name: cat0, dtype: int64

In [32]:
red_data.to_csv((folder + name + '_{}_{}lang.gz').format(cat_size, len(lang)), compression='gzip')