In [1]:
import numpy as np
import pandas as pd

In [2]:
folder = '/dlabdata1/lugeon/'
#folder = '../data/'
name = 'websites'
ext = '.gz'
data = pd.read_csv(folder + name + ext, header=None, names=['id', 'url', 'cat0'])

In [3]:
data = data[['url', 'cat0']]

In [4]:
data.head()

                                                 url   cat0
0                   http://www.liquidgeneration.com/  Adult
1                        http://www.onlineanime.org/  Adult
2  http://www.ceres.dti.ne.jp/~nekoi/senno/senfir...  Adult
3                         http://www.galeon.com/kmh/  Adult
4                        http://www.fanworkrecs.com/  Adult

In [5]:
data.shape[0] # number of entries, 1'562'978

1562978

In [6]:
data.cat0.nunique() # number of categories

15

In [7]:
data.cat0.value_counts() # number of samples in each categories

Arts          253840
Society       243943
Business      240177
Computers     117962
Science       110286
Recreation    106586
Sports        101328
Shopping       95270
Health         60097
Reference      58247
Games          56477
Kids           46182
Adult          35325
Home           28269
News            8989
Name: cat0, dtype: int64

In [8]:
cats = ['Arts', 'Computers', 'Sports', 'Kids', 'Science']
cat_size = 1_000

red_id = np.array([])

for cat in cats:
    sub_id = data[data.cat0==cat].index.values
    red_id = np.append(red_id, np.random.choice(sub_id, replace=False, size=cat_size))

In [9]:
red_data = data.iloc[red_id.tolist()]

In [10]:
red_data

                                                       url     cat0
192733         http://www.geocities.com/adelaide65mustang/     Arts
162532                            http://www.skyeklad.com/     Arts
180561                          http://www.carliorgani.it/     Arts
179143                              http://www.djaili.com/     Arts
132230   http://www.wsws.org/articles/2006/mar2006/vend...     Arts
...                                                    ...      ...
1051430    http://tolweb.org/terrestrial_vertebrates/14952  Science
1107612                  http://www.behavioral-safety.com/  Science
1076177                         http://www.briantaylor.ca/  Science
1109760                      http://www.obu.edu/sociology/  Science
1032034  http://www.si.edu/natzoo/zooview/animals/squir...  Science

[5000 rows x 2 columns]

In [11]:
red_data.cat0.value_counts()

Sports       1000
Kids         1000
Computers    1000
Science      1000
Arts         1000
Name: cat0, dtype: int64

In [12]:
red_data.to_csv((folder + name + '_{}_{}cat.gz').format(cat_size, len(cats)), compression='gzip')