In [17]:
import numpy as np
import pandas as pd
import gzip
import json

In [12]:
folder = '/dlabdata1/lugeon/'
name = 'websites_40_000_5cat'
ext = '.csv'
data = pd.read_csv(folder + name + ext)

In [13]:
data = data[['url', 'cat']]

In [14]:
data.head()

                                                 url   cat
0               http://www.geocities.com/soniartist/  Arts
1         http://sknr.net/2008/06/21/v-for-vendetta/  Arts
2  http://www.mit.edu/people/xopher/product/soupd...  Arts
3               http://geocities.com/boxbrownie2002/  Arts
4                 http://us.imdb.com/name/nm0911542/  Arts

In [31]:
import multiprocessing as mp
import requests
from bs4 import BeautifulSoup

In [36]:
data2 = data[:10]
data2

                                                 url   cat
0               http://www.geocities.com/soniartist/  Arts
1         http://sknr.net/2008/06/21/v-for-vendetta/  Arts
2  http://www.mit.edu/people/xopher/product/soupd...  Arts
3               http://geocities.com/boxbrownie2002/  Arts
4                 http://us.imdb.com/name/nm0911542/  Arts
5                       http://www.andeannation.com/  Arts
6  http://www.fortunecity.com/lavender/tarantino/...  Arts
7                       http://www.psthibodeaux.com/  Arts
8              http://www.redhotjazz.com/venuti.html  Arts
9           http://www.triowanderer.com/index_us.htm  Arts

In [68]:
p = mp.Pool(int(mp.cpu_count() / 2))

In [69]:
def get_homepage(url):
    try:
        return requests.get(url, timeout=2).text
    except(Exception):
        return None

In [ ]:
def write_on_file()

In [71]:
data2['html'] = p.map(get_homepage, data2['url'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
with gzip.open(folder + name + '_scp.gz', 'wt') as f:
    
    p = mp.Pool(int(mp.cpu_count() / 2))
    
    def write_on_file(url):
        try:
            html = requests.get(url, timeout=2).text
            page = {
                'url': url
            }
    except(Exception):
        return None
    page = {
        'url': 
    }

In [66]:
data2

,url,cat,html
0,http://www.geocities.com/soniartist/,Arts,
1,http://sknr.net/2008/06/21/v-for-vendetta/,Arts,<!doctype html > <!--[if lt IE 7]><html class=...
2,http://www.mit.edu/people/xopher/product/soupd...,Arts,"<!DOCTYPE html>\n<html lang=""en"" class=""no-js ..."
3,http://geocities.com/boxbrownie2002/,Arts,
4,http://us.imdb.com/name/nm0911542/,Arts,None
5,http://www.andeannation.com/,Arts,None
6,http://www.fortunecity.com/lavender/tarantino/...,Arts,"<html>\n<head>\n<meta http-equiv=""Content-Type..."
7,http://www.psthibodeaux.com/,Arts,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T..."
8,http://www.redhotjazz.com/venuti.html,Arts,None
9,http://www.triowanderer.com/index_us.htm,Arts,"<!DOCTYPE html>\n<html lang=""fr-FR"">\n<head>\n..."