In [1]:
import numpy as np
import pandas as pd
import gzip
import json

In [2]:
#folder = '/dlabdata1/lugeon/'
folder = '../data/'
name = 'websites_10_000_5cat'
ext = '.csv'
data = pd.read_csv(folder + name + ext, header=0, names=['id', 'url', 'cat0'])

In [3]:
data = data[['url', 'cat0']]

In [4]:
data.head()

                                             url  cat0
0           http://www.imdb.com/title/tt0044207/  Arts
1  http://www.missgien.net/misc/films/robin.html  Arts
2                           http://www.ppmag.com  Arts
3            http://us.imdb.com/title/tt0103488/  Arts
4       http://www.hollywoodjesus.com/powder.htm  Arts

In [5]:
data2 = data[:15]

In [6]:
from collect_html import *

In [7]:
write_html_to_file(df=data2, step=2, path=folder+name+'_scp.json.gz', timeout=5, feedback=3)