In [1]:
import numpy as np
import pandas as pd

In [3]:
folder = '/dlabdata1/lugeon/'
name = 'websites'
ext = '.gz'
data = pd.read_csv(folder + name + ext, header=None, names=['id', 'url', 'cat'])

In [4]:
data = data[['url', 'cat']]

In [5]:
data.head()

                                                 url    cat
0                   http://www.liquidgeneration.com/  Adult
1                        http://www.onlineanime.org/  Adult
2  http://www.ceres.dti.ne.jp/~nekoi/senno/senfir...  Adult
3                         http://www.galeon.com/kmh/  Adult
4                        http://www.fanworkrecs.com/  Adult

In [6]:
data.shape[0] # number of entries, 1'562'978

1562978

In [7]:
data.cat.nunique() # number of categories

15

In [8]:
data.cat.value_counts() # number of samples in each categories

Arts          253840
Society       243943
Business      240177
Computers     117962
Science       110286
Recreation    106586
Sports        101328
Shopping       95270
Health         60097
Reference      58247
Games          56477
Kids           46182
Adult          35325
Home           28269
News            8989
Name: cat, dtype: int64

In [11]:
cat_size = 40_000
red_id = np.array([])
for cat in ['Arts', 'Computers', 'Sports', 'Kids', 'Science']:
    sub_id = data[data.cat==cat].index.values
    red_id = np.append(red_id, np.random.choice(sub_id, replace=False, size=cat_size))

In [12]:
red_data = data.iloc[red_id.tolist()]

In [13]:
red_data

                                                       url      cat
223303   http://www.geocities.com/littleprincezzsarah/j...     Arts
228252                        http://www.jessespencer.net/     Arts
123907                 http://us.imdb.com/title/tt0087864/     Arts
61799                          http://starlightdreams.biz/     Arts
198539            http://www.geocities.com/nashville/4481/     Arts
...                                                    ...      ...
1089137                 http://www.geocities.com/nasascam/  Science
1058802                         http://www.listech.com.au/  Science
1108148                    http://www.personalityquiz.net/  Science
1027780              http://www.hlasek.com/ccvazky1an.html  Science
1032756              http://en.wikipedia.org/wiki/anisakis  Science

[200000 rows x 2 columns]

In [14]:
red_data.cat.value_counts()

Kids         40000
Arts         40000
Sports       40000
Computers    40000
Science      40000
Name: cat, dtype: int64